  <div class="wrapper">
       <article class="page1">
          <div class="project extendedProject">
                <h2>{{project.projectName}}</h2>
                <div class="whiteBar">
                    <div style="float:left">
                   
                    <ul>
                    <li>  <strong> Git Repository : </strong></li>
                    <li> <span><strong> Name:</strong> {{project.gitRepo.repoName}}</span></li>
                    <li> <span> Url <a>{{project.gitRepo.clone}}</a></span> </li>
                    </ul>
                </div>
                     
                </div>
                <ul class="projectIcons list-inline pull-right">
                    <li><button class="leafIcon pull-left"></button></li>
                    <li><button class="clockIcon pull-left"></button></li>
                    <li><button class="settingsIcon pull-left"></button></li>
                    <li><button class="toggleIcon pull-left"></button></li>
                    <li class="countLi"><button class="countIcon pull-left"></button></li>
                    <li><button class="userPic pull-left"></button></li>
                </ul>
            </div>
          </div>
    </div><!--end of wrapper div-->
 