<div>
 
 
    <style>

                         .widget
                         {
                               float:left;
                              width:25%;
                              margin:10px;
                              margin-left:2px;
                          }
                        
    </style>
 
 <div class="container">
         <div class="wrapper">
            <article class="page2">
                <nav>
                    <div class="navTop">
                        <button class="pull-right folderIcon"></button>
                        <button class="pull-right foldersIcon"></button>
                        <p class="pull-right">May 21</p>
                        <span class="headerBar pull-right"></span>
                    </div>
                    <div class="navBottom">
                        <ul class="list-inline pull-right iconsList">
                            <li><button class="clockIcon"></button></li>
                            <li><button class="settingsIcon"></button></li>
                            <li><button class="refreshBtn"></button></li>
                            <li><button class="toggleIcon"></button></li>
                        </ul>
                        <button class="pull-right enviroBtn"><b>Environment</b></button>
                        <button class="pull-right codeBtn"><b>Code</b></button>
                        <button class="pull-right redBtn"></button>
                        <ul class="list-inline pull-right appButtons">
                            <li><button class="overviewBtn">Overview</button></li>
                            <li class="longerBtn"><button class="monitoringBtn">App Monitoring</button></li>
                            <li><button class="developmentBtn">Development</button></li>
                            <li><button class="activityBtn">Activity <span><b>5</b></span></button></li>
                        </ul>
                        <span class="pull-right"><b>2</b></span>
                        <h2>Tame UI</h2>

                    </div>
                </nav>
                <aside>
                    <div class="stages">
                        <h4><span class="cloud"></span>Development</h4>
                        <div>
                            <a class="developmentPeople"></a>
                            <div class="developmentBox">
                                <span><b>4</b></span>
                                <div class="dropdown ">
                                    <a id="dropDownOptions2"  data-toggle="dropdown" href="#"><span class="toggleIcon"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropDownOptions2">
                                        <li>option1</li>
                                        <li>option2</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="stages">
                        <h4><span class="cloud"></span>Staging</h4>
                        <div>
                            <a class="manPic"></a>
                            <div class="developmentBox">
                                <span class="longerText">
                                    <b>Raziel Tabib</b><br>
                                    Push: <b>MAR/21/2014</b>
                                </span>
                                <div class="dropdown ">
                                    <a id="dropDownOptions4"  data-toggle="dropdown" href="#"><span class="toggleIcon"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropDownOptions4">
                                        <li>option1</li>
                                        <li>option2</li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="developmentBox">
                                <span class="longerText">
                                    
                                    Push: <b>MAR/21/2014</b>
                                </span>
                                <div class="dropdown ">
                                    <a id="dropDownOptions5"  data-toggle="dropdown" href="#"><span class="toggleIcon"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropDownOptions5">
                                        <li>option1</li>
                                        <li>option2</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="stages">
                        <h4><span class="cloud"></span>Production</h4>
                        <div>
                            
                            <div class="developmentBox">
                                <span class="longerText">
                                    <b>Maria Smith</b><br>
                                    Push: <b>MAR/21/2014</b>
                                </span>
                                <div class="dropdown ">
                                    <a id="dropDownOptions6"  data-toggle="dropdown" href="#"><span class="toggleIcon"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropDownOptions6">
                                        <li>option1</li>
                                        <li>option2</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </aside>
                <section>
                    <div class="projectDescription">
                        <span class="nodeIcon"></span>
                    </div>
                    <div class="row">
                        <div  class="widget" mapchart></div>
                        <div  class="widget" mostvisitedchart></div>
                        <div  class ="widget" averagetransactiontime></div>
                    </div>
                      <div class="row">
                        <div  class="widget" issueschart></div> 
                        <div  class="widget" userstoriesareachart></div>
                      </div>
                        
                </section>
            </article>
        </div><!--end of wrapper div-->
    </div>
</div>
 