 <header>
        <a class="logoIcon" ng-click='navigateToHome()'></a>
        <div class="dropdown ">
            <a id="dropDownOptions"  data-toggle="dropdown" href="#"><span class="toggleIcon"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropDownOptions">
                <li>option1</li>
                <li>option2</li>
            </ul>
        </div>
        <button class="userPic"></button>
        <div class="iconsBar">
            <button class="settings"></button>
            <button class="errors"></button>
            <button class="music"></button>
            <p>Raziel Tabib</p>
        </div>
        <button class="addNewProjectBtn" ng-click="createProject()">Add New Project</button>
    </header>