 <div class="">
 <style>
   .graph
   {
   	float:left;
   }
 </style>
 <div style="padding:10px" class="row">
 <h1><strong>360</strong></p>
 <a ui-sref="dashboard.viewProjects({})">Back</a>
</div>
 <div class="row col-md-6">

 <div id="chart1" class="graph" style="width:300px; height:300px" id="myfirstchart" style="height: 250px;">Users</div> 
 <div id="chart2" class="graph"style="width:300px; height:300px" id="myfirstchart" style="height: 250px;"></div> 
 <div id="chart3" class="graph" style="width:300px; height:300px" id="myfirstchart" style="height: 250px;"></div> 
 <div id="chart4" class="graph" style="width:300px; height:300px" id="myfirstchart" style="height: 250px;"></div> 
 <div id="chart5" class="graph" style="width:300px; height:300px" id="myfirstchart" style="height: 250px;"></div> 
 <div id="chart6" class="graph" style="width:300px; height:300px" id="myfirstchart" style="height: 250px;"></div> 

</div>
 </div>
