
<div>
   <!-- <header>
        <a class="logoIcon"></a>
        <div class="dropdown ">
            <a id="dropDownOptions"  data-toggle="dropdown" href="#"><span class="toggleIcon"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropDownOptions">
                <li>option1</li>
                <li>option2</li>
            </ul>
        </div>
        <button class="userPic"></button>
        <div class="iconsBar">
            <button class="settings"></button>
            <button class="errors"></button>
            <button class="music"></button>
            <p>Raziel Tabib</p>
        </div>
        <button class="addNewProjectBtn" ng-click = "createProject()">Add New Project</button>
    </header>-->
     
        <article class="page1">>
             
              <div style="projectDashboard">
                    <div  ng-repeat="p in projects" project="p"></div>

           <!-- <div class="project">
                <h2>Project Name</h2>
                <div class="whiteBar">
                    <ul class="list-inline pull-left">
                        <li><span class="leftArrow pull-left"></span></li>
                        <li><button class="greenTimeBtn pull-left"></button></li>
                        <li><button class="errorRedBtn pull-left"></button></li>
                        <li><button class="warningYellowBtn pull-left"></button></li>
                        <li><span class="rightArrow pull-left"></span></li>
                    </ul>
                </div>
                <ul class="projectIcons list-inline pull-left">
                    <li><button class="leafIcon pull-left"></button></li>
                    <li><button class="clockIcon pull-left"></button></li>
                    <li><button class="settingsIcon pull-left"></button></li>
                    <li><button class="toggleIcon pull-left"></button></li>
                    <li class="countLi"><button class="countIcon pull-left"></button></li>
                    <li><button class="userPic pull-left"></button></li>
                </ul>
            </div>
            <div class="project extendedProject">
                <h2>Project Name</h2>
                <div class="whiteBar">
                    <p>
                        We can use this layout as universal for all sizes.<br>
                        And allow arbitrary resizing by user.
                    </p>
                </div>
                <ul class="projectIcons list-inline pull-right">
                    <li><button class="leafIcon pull-left"></button></li>
                    <li><button class="clockIcon pull-left"></button></li>
                    <li><button class="settingsIcon pull-left"></button></li>
                    <li><button class="toggleIcon pull-left"></button></li>
                    <li class="countLi"><button class="countIcon pull-left"></button></li>
                    <li><button class="userPic pull-left"></button></li>
                </ul>
            </div>-->
  </div>
</article><!--end of container div-->
</div>